<div id="max-w-wrapper">
  <div id="max-w-child">
    <slot />
  </div>
</div>

<style>
#max-w-wrapper {
  display:flex;
  padding: 0 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#max-w-child {
  width: 100%;
  max-width: 70%;
}
</style>
